body{background: white;}

.row{
  max-width: 95%;
  margin-left: 2.5%;
}


.bkg3 {
    max-width: 95%;

}


.top-bar {
    display: block;
    width: 100%;
    left: 0;
    position: inherit;
    margin-bottom: 1rem;
}


.fixed .top-bar {
    margin-top: 0;

}
